.todo_input{
    width: 100%;

    background-color: aquamarine;
}
.input{
    /* width: 40%; */
    /* margin: auto; */
}
.inner_input{
    width: 100%;
    /* background-color: blue;
     */
    /* display: grid; */


}